/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* common styles */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #0b5345;
    Width:1200px;
    border-radius: 22px;
    margin: 50px 140px;
}
/* banner style start */
.banner{
    display: flex;
    justify-content: space-evenly;
}
.banner-info{
    width: 40%;
    margin-top: 53px;
    margin-left: 60px
    display: flex;
    flex-direction: column;
   gap: 13px;
}
.banner-info h1{
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;

}
.banner-info p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-align: left;
}
.banner-img{
    width: 40%;
}
.banner-img img{
    /* width: 581px;
    height: 613px; */
    width: 100%;
    margin-top: 33px;
    /* margin-right: 79px; */
    display: flex;

}
.banner-info button{
    background-color: #f1c40f;
    font-size: 20px;
    text-align: center;
    padding: 16px 10px 17px 25px;
    border-radius: 5px;
    border-style: none;
    width: 40%;
}
.fa-chevron-right{
    padding-right: 16px;
}